#date-change {
	display: none;
	font-size: 210px;
	line-height: 1;
	opacity: 0.1;
	font-weight: 400;
	letter-spacing: 3px;
	position:fixed;
	width: 80%;
	margin-left: 20%;
	top: 80px;
	left: 100px;
	color: white;
	z-index: 999;
	transition: all .5s ease-in-out;

	@include tablet-down {
		right: initial;
		left: 40px;
	}

	@include phone {
		font-size: 100px;
	}
}

.date-change {
	font-size: 210px;
	line-height: 1;
	opacity: 0.1;
	font-weight: 400;
	letter-spacing: 3px;
	position: absolute;
	top: 100px;
	left: 100px;
	color: white;
	z-index: 999;
	transition: all 1s ease-in-out;

	@include tablet-down {
		right: initial;
		left: 40px;
	}

	@include phone {
		font-size: 100px;
	}

}