.transmatic-logo {
	position:fixed;
	width: 175px;
	top: 42px;
	right: 42px;
	z-index: 999;
	padding: 0;

	&:hover svg {
		fill-opacity: 0.5;
	}

	svg {
		width: 100%;
		transition: all .2s ease;
	}

}